<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{{ path('homepage') }}"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="{{ asset('images/logo.png') }}" alt="" width="24" height="24"
                 style="vertical-align:middle; margin-right:8px;">
            <span class="fs-4">{{ 'PDF Editor'|trans }}</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ path('homepage') }}"
                                    class="nav-link {% if 'homepage' in app.request.get('_route') %}active {% endif %}"
                                    aria-current="page">{{ 'Home'|trans }}</a></li>
            <li class="nav-item"><a href="{{ path('about') }}"
                                    class="nav-link {% if 'about' in app.request.get('_route') %}active {% endif %}">{{ 'About'|trans }}</a>
            </li>
            <li class="nav-item"><a href="{{ path('contact') }}"
                                    class="nav-link {% if 'contact' in app.request.get('_route') %}active {% endif %}">{{ 'Contact'|trans }}</a>
            </li>
            <li class="nav-item"><a href="{{ path('app_register') }}"
                                    class="nav-link {% if 'register' in app.request.get('_route') %}active {% endif %}">{{ 'Register'|trans }}</a>
            </li>
            <li class="nav-item"><a href="{{ path('app_login') }}"
                                    class="nav-link {% if 'login' in app.request.get('_route') %}active {% endif %}">{{ 'Login'|trans }}</a>
            </li>
            <li class="nav-item"><a href="{{ path('admin') }}"
                                    class="nav-link {% if 'admin' in app.request.get('_route') %}active {% endif %}">{{ 'Admin Panel'|trans }}</a>
            </li>
            {#            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li> #}
            {#            <li class="nav-item"><a href="{{ path('smtp-mailer') }}" class="nav-link">Smtp Mailer</a></li> #}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.request.locale|upper }}
                </a>

                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                    <li>
                        <a class="dropdown-item {% if app.request.locale == 'en' %} active {% endif %}"
                           href="{{ path('switch_language', {_locale: 'en'}) }}">{{ 'English'|trans }}</a></li>
                    <li>
                        <a class="dropdown-item {% if app.request.locale == 'uk' %} active {% endif %}"
                           href="{{ path('switch_language', {_locale: 'uk'}) }}">{{ 'Ukrainian'|trans }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
</div>
